<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center">
  <img src="../../assets/icon/logo.png" class="logo">

  <div class="title">
    <h2>Welcome</h2>
    <p>Please Login Before Order</p>
  </div>

  <div class="ion-margin-top">
    <ion-button expand="blok" class="ion-margin-top" (click)="register()" fill="outline" color="white">SIGN UP</ion-button>
    <ion-button expand="blok" class="ion-margin-top" (click)="login()" color="white">LOGIN</ion-button>
  </div>

</ion-content>
